# Dependencies
node_modules
.pnp
.pnp.*

# Testing
coverage
*.log

# Build outputs
dist
build
.next
out

# Environment
.env
.env*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# pnpm
.pnpm-debug.log*

# Misc
*.pem
*.tsbuildinfo
