.inherited-css {
    color: #333333;
    cursor: wait;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body {
    background: #eeeeee;
}
section {
    display: block;
}

a {
    background-color: #0000;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

@font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

h2,
h3 {
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}

h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
}

.w-tabs {
    position: relative;
}

.w-tabs:before,
.w-tabs:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-tabs:after {
    clear: both;
}

.w-tab-menu {
    position: relative;
}

.w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.w-tab-link.w--current {
    background-color: #c8c8c8;
}

.w-tab-link:focus {
    outline: 0;
}

.w-tab-content {
    display: block;
    position: relative;
    overflow: hidden;
}

.w-tab-pane {
    display: none;
    position: relative;
}

.w--tab-active {
    display: block;
}

@media screen and (max-width: 479px) {
    .w-tab-link {
        display: block;
    }
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a238416de3744b01f8091_InterTight-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2385413f6b916e1bc3e8_InterTight-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2385760cfcbf66488bc6_InterTight-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2384476869d7686963d0_InterTight-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.subtitle {
    color: #250a63;
    letter-spacing: -0.03em;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.h2 {
    color: #250a63;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
}

.h3 {
    color: #250a63;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
}

.paragraph-text-02 {
    color: #250a63;
    margin-bottom: 0;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.paragraph-text-02.process-01-top-subtitle {
    color: #250a63b3;
    margin-top: 20px;
}

.button-text {
    color: #250a63;
    letter-spacing: -0.01em;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.button-text.primary-button-text {
    letter-spacing: -0.02em;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#fff, #ffffffb3);
    -webkit-background-clip: text;
    background-clip: text;
}

.button-text.process-02-tab-link-text {
    z-index: 1;
    position: relative;
}

.primary-button {
    background-color: #250a63;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 16px 35px;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
}

.primary-button-text-wrap {
    z-index: 2;
    position: relative;
}

.primary-button-bg {
    background-image: linear-gradient(rgb(136, 124, 248), rgb(89, 75, 236));
    border-radius: 100px;
    position: absolute;
    inset: 0%;
}

.primary-button-shadow {
    z-index: 1;
    border-radius: 100px;
    position: absolute;
    inset: 0%;
    box-shadow: inset 0 1.41px 3.18px #ffffffde;
}

.section-badge-wrap {
    z-index: 1;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 3.33px 14.82px 3.33px 3.71px;
    display: flex;
    position: relative;
}

.section-badge {
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 0.82px;
    display: flex;
    position: relative;
    box-shadow: 2.88px 25.11px 19.72px #5d48ec0a;
}

.section-badge-outline {
    opacity: 0.14;
    background-image: linear-gradient(#4d00ff57, #2e0099);
    border-radius: 100px;
    position: absolute;
    inset: 0%;
}

.section-badge-icon-wrap {
    border-radius: 100px;
    width: 50.63px;
    padding: 0.82px;
    position: relative;
    box-shadow: 0 4.12px 6.26px #6153ee1a;
}

.section-badge-icon-wrap.short {
    width: 33px;
    height: 24px;
}

.section-badge-icon-box {
    z-index: 1;
    background-color: white;
    background-image: linear-gradient(#c444de00, #594bec2b);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 33px;
    display: flex;
}

.section-badge-icon-box.short {
    width: 33px;
    height: 24px;
    padding: 0;
}

.section-badge-icon {
    z-index: 2;
    filter: drop-shadow(0 4.53px 7px #6153ee4f);
    width: auto;
    height: auto;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-header-content {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 701px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.section-header-content.why-us-content {
    max-width: 503px;
}

.number-text-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.container-large {
    z-index: 1;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.card-icon-box {
    border-radius: 100px;
    width: 64px;
    height: 64px;
    padding: 0.82px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4.12px 6.26px #6153ee1a;
}

.card-icon-box.process-02-icon {
    z-index: 1;
    flex: none;
    width: 34px;
    height: 34px;
}

.card-icon-outline {
    background-image: linear-gradient(#4d00ff00, #2e009924);
    position: absolute;
    inset: 0%;
}

.card-icon-inner {
    z-index: 1;
    background-color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.card-icon-inner-bg {
    opacity: 0.17;
    background-image: linear-gradient(#c444de00, #594bec99);
    border-radius: 100px;
    position: absolute;
    inset: 0%;
}

.card-icon-wrap {
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.process-icon-02 {
    opacity: 0;
    position: absolute;
}

.process-01-top-badge {
    border-radius: 100px;
    padding: 0.82px;
    position: relative;
    overflow: hidden;
    box-shadow: 2.88px 25.11px 19.72px #5d48ec0a;
}

.outline {
    opacity: 0.14;
    background-image: linear-gradient(#4d00ff57, #2e0099);
    position: absolute;
    inset: 0%;
}

.process-01-top-badge-inner {
    z-index: 1;
    background-color: white;
    border-radius: 100px;
    padding: 8px 22px;
    position: relative;
}

.process-02 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.process-02-main-wrap {
    margin-top: 40px;
}

.process-02-tab {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.process-02-tabs-menu {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.process-02-tab-link {
    background-color: #ddd0;
    border-radius: 100px;
    padding: 0.82px;
    position: relative;
    overflow: hidden;
}

.process-02-tab-link.w--current {
    background-color: #fff0;
}

.process-02-tab-link-inner {
    z-index: 1;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: white;
    border-radius: 100px;
    justify-content: flex-start;
    align-items: center;
    padding: 5.11px 16.44px 5.11px 5.11px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.process-02-link-inner-bg {
    opacity: 0;
    background-image: linear-gradient(#c444de00, #594bec2b);
    position: absolute;
    inset: 0%;
}

.process-02-tab-content {
    width: 100%;
    max-width: 940px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.process-02-tab-content-wrap {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.process-02-tab-content-left {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 413px;
    max-width: 100%;
    display: flex;
}

.process-02-button-wrap {
    margin-top: 30px;
}

.process-02-text-wrap {
    width: 100%;
    margin-top: 20px;
}

.process-02-heading-wrap {
    max-width: 357px;
}

.process-02-tab-content-right {
    border-radius: 12px;
    -webkit-backdrop-filter: blur(25.96px);
    backdrop-filter: blur(25.96px);
    background-color: #ebedff99;
    width: 443px;
    height: 395px;
    padding: 3.25px;
    overflow: hidden;
}

.process-02-right-content {
    border: 1.62px solid white;
    border-radius: 10px;
    background-image: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682f0e4c4ee9e7987f606b8a_Process%2002%20Bg.avif");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 9.74px 64.91px -8.11px #b0b8d23d;
}

.process-02-image-wrap-01 {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
}

.process-02-image-01 {
    width: 391px;
}

.process-02-image-wrap-02 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 48px 36px;
    display: flex;
}

@media screen and (max-width: 991px) {
    .h3.process-02-heading {
        font-size: 32px;
        line-height: 40px;
    }

    .paragraph-text-02.process-01-top-subtitle {
        margin-top: 16px;
    }

    .primary-button {
        padding: 14px 28px;
    }

    .section-badge-icon-box {
        padding: 6px;
    }

    .card-icon-box {
        width: 52px;
        height: 52px;
    }

    .process-02-tabs-menu {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .process-02-tab-content {
        margin-top: 48px;
    }

    .process-02-tab-content-left {
        width: 50%;
    }

    .process-02-button-wrap {
        margin-top: 24px;
    }

    .process-02-text-wrap {
        margin-top: 16px;
    }

    .process-02-heading-wrap {
        max-width: 100%;
    }

    .process-02-tab-content-right {
        width: 50%;
        height: 380px;
    }
}

@media screen and (max-width: 767px) {
    .h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .h3 {
        font-size: 40px;
        line-height: 48px;
    }

    .paragraph-text-02.process-01-top-subtitle {
        margin-top: 10px;
    }

    .primary-button {
        padding: 12px 24px;
    }

    .primary-button-shadow {
        box-shadow: inset 0 1.41px 3.18px #fffc;
    }

    .section-badge-wrap {
        padding: 3px 10px 3px 3px;
    }

    .section-badge-icon-wrap {
        width: 40px;
    }

    .section-badge-icon-box {
        padding: 5px;
    }

    .section-badge-icon {
        width: 15px;
    }

    .process-01-top-badge-inner {
        padding: 6px 20px;
    }

    .process-02-tabs-menu {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .process-02-tab-link-inner {
        padding: 5px 15px 5px 5px;
    }

    .process-02-tab-content {
        margin-top: 40px;
    }

    .process-02-tab-content-wrap {
        flex-flow: column-reverse wrap;
        align-items: center;
    }

    .process-02-tab-content-left {
        width: 100%;
    }

    .process-02-text-wrap {
        margin-top: 16px;
    }

    .process-02-tab-content-right {
        width: 85%;
        height: auto;
        padding: 3px;
    }

    .process-02-image-wrap-01 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .process-02-image-wrap-02 {
        padding: 32px;
    }
}

@media screen and (max-width: 479px) {
    .subtitle.badge-title {
        font-size: 14px;
        line-height: 22px;
    }

    .h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .h3.process-02-heading {
        font-size: 24px;
        line-height: 32px;
    }

    .paragraph-text-02.process-01-top-subtitle {
        margin-top: 8px;
    }

    .button-text.process-02-tab-link-text {
        font-size: 14px;
        line-height: 22px;
    }

    .primary-button {
        padding: 10px 22px;
    }

    .primary-button-shadow {
        box-shadow: inset 0 1.41px 3.18px #ffffffbf;
    }

    .section-badge-wrap {
        padding-right: 10px;
    }

    .section-badge-outline {
        width: 100%;
        inset: 0%;
    }

    .section-badge-icon-wrap {
        width: auto;
    }

    .section-badge-icon-box {
        padding: 4px;
    }

    .section-badge-icon {
        width: auto;
    }

    .number-text-wrap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin-top: 16px;
    }

    .container-large {
        padding-left: 16px;
        padding-right: 16px;
    }

    .card-icon-box {
        width: 48px;
        height: 48px;
    }

    .card-icon-box.process-02-icon {
        width: 28px;
        height: 28px;
    }

    .process-01-top-badge-inner {
        padding: 5px 16px;
    }

    .process-02-main-wrap {
        margin-top: 32px;
    }

    .process-02-tab-link-inner {
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        padding: 4px 12px 4px 4px;
    }

    .process-02-tab-content-wrap {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }

    .process-02-text-wrap {
        margin-top: 14px;
    }

    .process-02-tab-content-right {
        width: 100%;
    }

    .process-02-image-wrap-01 {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .process-02-image-wrap-02 {
        padding: 24px;
    }
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
