
.inherited-css {
	color: #333333;
	cursor: wait;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
body {
	background: #eeeeee;
}
section {
	display: block;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

img {
	border: 0;
}

input {
	color: inherit;
	font: inherit;
	margin: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

@font-face {
	font-family: webflow-icons;
	src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
	max-width: 100%;
	display: inline-block;
}

.w-button {
	color: #fff;
	line-height: inherit;
	cursor: pointer;
	background-color: #3898ec;
	border: 0;
	border-radius: 0;
	padding: 9px 15px;
	text-decoration: none;
	display: inline-block;
}

input.w-button {
	-webkit-appearance: button;
}

h1 {
	margin-bottom: 10px;
	font-weight: bold;
}

h1 {
	margin-top: 20px;
	font-size: 38px;
	line-height: 44px;
}

.w-form {
	margin: 0 0 15px;
}

.w-form-done {
	text-align: center;
	background-color: #ddd;
	padding: 20px;
	display: none;
}

.w-form-fail {
	background-color: #ffdede;
	margin-top: 10px;
	padding: 10px;
	display: none;
}

.w-input {
	color: #333;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 100%;
	height: 38px;
	margin-bottom: 10px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857;
	display: block;
}

.w-input::placeholder {
	color: #999;
}

.w-input:focus {
	border-color: #3898ec;
	outline: 0;
}

@font-face {
	font-family: Inter Tight;
	src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a238416de3744b01f8091_InterTight-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter Tight;
	src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2385413f6b916e1bc3e8_InterTight-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter Tight;
	src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2385760cfcbf66488bc6_InterTight-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter Tight;
	src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2384476869d7686963d0_InterTight-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.subtitle {
	color: #250a63;
	letter-spacing: -0.03em;
	font-family:
		Inter Tight,
		Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.h1 {
	color: #250a63;
	letter-spacing: -0.02em;
	margin-top: 0;
	margin-bottom: 0;
	font-family:
		Inter Tight,
		Arial,
		sans-serif;
	font-size: 62px;
	font-weight: 500;
	line-height: 70px;
}

.paragraph-text-02 {
	color: #250a63;
	margin-bottom: 0;
	font-family:
		Inter Tight,
		Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.container-small {
	z-index: 1;
	max-width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.cta {
	background-image: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a458b010ce56887e3babd_9de874d21dfaa185260d680fc16bc571_Cta%20Cloud.avif");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 134px;
	padding-bottom: 164px;
	position: relative;
	overflow: hidden;
}

.cta-wrap {
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 697px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.section-badge-wrap {
	z-index: 1;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	background-color: white;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	padding: 3.33px 14.82px 3.33px 3.71px;
	display: flex;
	position: relative;
}

.section-badge {
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	padding: 0.82px;
	display: flex;
	position: relative;
	box-shadow: 2.88px 25.11px 19.72px #5d48ec0a;
}

.section-badge-outline {
	opacity: 0.14;
	background-image: linear-gradient(#4d00ff57, #2e0099);
	border-radius: 100px;
	position: absolute;
	inset: 0%;
}

.section-badge-icon-wrap {
	border-radius: 100px;
	width: 50.63px;
	padding: 0.82px;
	position: relative;
	box-shadow: 0 4.12px 6.26px #6153ee1a;
}

.section-badge-icon-box {
	z-index: 1;
	background-color: white;
	background-image: linear-gradient(#c444de00, #594bec2b);
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 33px;
	display: flex;
}

.section-badge-icon {
	z-index: 2;
	filter: drop-shadow(0 4.53px 7px #6153ee4f);
	width: auto;
	height: auto;
}

.heading-wrap {
	width: 697px;
	max-width: 100%;
}

.heading-wrap.center {
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.subtitle-wrap {
	width: 600px;
	max-width: 100%;
	margin-top: 20px;
}

.subtitle-wrap.center {
	margin-left: auto;
	margin-right: auto;
}

.cta-text-wrap {
	width: 100%;
	margin-top: 20px;
}

.cta-form-wrap {
	width: 472px;
	max-width: 100%;
	margin-top: 40px;
}

.subscribe-form-block {
	margin-bottom: 0;
}

.subscribe-form-group {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	justify-content: center;
	display: flex;
}

.subscribe-input-field {
	border: 1px solid white;
	background-color: white;
	color: #250a63;
	border-radius: 100px;
	height: 57px;
	margin-bottom: 0;
	padding-left: 25px;
	font-family:
		Inter Tight,
		Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.subscribe-input-field:focus,
.subscribe-input-field:focus-visible {
	border-color: #887cf8;
}

.subscribe-input-field::placeholder {
	color: #391e7999;
	letter-spacing: -0.01em;
	font-family:
		Inter Tight,
		Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.subscribe-submit-button {
	background-image: linear-gradient(rgb(136, 124, 248), rgb(89, 75, 236));
	color: white;
	letter-spacing: -0.01em;
	border-radius: 100px;
	height: 57px;
	padding-left: 34px;
	padding-right: 34px;
	font-family:
		Inter Tight,
		Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	transition: background-color 0.3s;
	box-shadow: inset 0 1.41px 3.18px #ffffffde;
}

.subscribe-submit-button:hover {
	background-color: #250a63;
	background-image: none;
}

.success-message {
	border-radius: 12px;
	background-color: #250a63;
	width: 100%;
}

.text-white {
	color: white;
}

@media screen and (max-width: 991px) {
	.h1 {
		font-size: 56px;
		line-height: 64px;
	}

	.cta {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-badge-icon-box {
		padding: 6px;
	}
}

@media screen and (max-width: 767px) {
	.h1 {
		font-size: 52px;
		line-height: 60px;
	}

	.cta {
		padding-top: 72px;
		padding-bottom: 72px;
	}

	.section-badge-wrap {
		padding: 3px 10px 3px 3px;
	}

	.section-badge-icon-wrap {
		width: 40px;
	}

	.section-badge-icon-box {
		padding: 5px;
	}

	.section-badge-icon {
		width: 15px;
	}

	.cta-text-wrap {
		margin-top: 16px;
	}

	.cta-form-wrap {
		width: 85%;
		margin-top: 32px;
	}

	.subscribe-form-group {
		grid-column-gap: 6px;
		grid-row-gap: 6px;
	}

	.subscribe-input-field {
		height: 52px;
	}

	.subscribe-submit-button {
		height: 52px;
		padding-left: 28px;
		padding-right: 28px;
	}

	.success-message {
		border-radius: 12px;
		padding: 18px;
	}
}

@media screen and (max-width: 479px) {
	.subtitle.badge-title {
		font-size: 14px;
		line-height: 22px;
	}

	.h1 {
		font-size: 42px;
		line-height: 50px;
	}

	.container-small {
		padding-left: 16px;
		padding-right: 16px;
	}

	.cta {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-badge-wrap {
		padding-right: 10px;
	}

	.section-badge-outline {
		width: 100%;
		inset: 0%;
	}

	.section-badge-icon-wrap {
		width: auto;
	}

	.section-badge-icon-box {
		padding: 4px;
	}

	.section-badge-icon {
		width: auto;
	}

	.subtitle-wrap {
		margin-top: 16px;
	}

	.cta-text-wrap {
		margin-top: 12px;
	}

	.cta-form-wrap {
		width: 95%;
		margin-top: 28px;
	}

	.subscribe-form-group {
		grid-column-gap: 4px;
		grid-row-gap: 4px;
	}

	.subscribe-input-field {
		padding-left: 16px;
	}

	.subscribe-submit-button {
		padding-left: 20px;
		padding-right: 20px;
	}

	.success-message {
		border-radius: 10px;
		padding: 16px;
	}
}
@font-face {
	font-family: Epilogue;
	src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Epilogue;
	src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Epilogue;
	src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Epilogue;
	src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}