.inherited-css {
    color: #333333;
    cursor: wait;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body {
    background: #eeeeee;
}
section {
    display: block;
}

a {
    background-color: #0000;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

@font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

h2,
h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}

h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a238416de3744b01f8091_InterTight-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2385413f6b916e1bc3e8_InterTight-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2385760cfcbf66488bc6_InterTight-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter Tight;
    src: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682a2384476869d7686963d0_InterTight-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

h4 {
    color: #250a63;
    letter-spacing: -0.02em;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.subtitle {
    color: #250a63;
    letter-spacing: -0.03em;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.h2 {
    color: #250a63;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
}

.paragraph-text-02 {
    color: #250a63;
    margin-bottom: 0;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.paragraph-text-02.pricing-01-subtitle {
    color: #250a6399;
    margin-top: 16px;
}

.paragraph-text-02.pricing-01-timline {
    color: #060020b3;
    margin-bottom: 8px;
}

.paragraph-text-02.pricing-01-review-author-tagline {
    color: #250a63b3;
    margin-top: 2px;
}

.h4 {
    color: #250a63;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.button-text {
    color: #250a63;
    letter-spacing: -0.01em;
    font-family:
        Inter Tight,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section-badge-wrap {
    z-index: 1;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 3.33px 14.82px 3.33px 3.71px;
    display: flex;
    position: relative;
}

.section-badge {
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 0.82px;
    display: flex;
    position: relative;
    box-shadow: 2.88px 25.11px 19.72px #5d48ec0a;
}

.section-badge-outline {
    opacity: 0.14;
    background-image: linear-gradient(#4d00ff57, #2e0099);
    border-radius: 100px;
    position: absolute;
    inset: 0%;
}

.section-badge-icon-wrap {
    border-radius: 100px;
    width: 50.63px;
    padding: 0.82px;
    position: relative;
    box-shadow: 0 4.12px 6.26px #6153ee1a;
}

.section-badge-icon-wrap.short {
    width: 33px;
    height: 24px;
}

.section-badge-icon-box {
    z-index: 1;
    background-color: white;
    background-image: linear-gradient(#c444de00, #594bec2b);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 33px;
    display: flex;
}

.section-badge-icon-box.short {
    width: 33px;
    height: 24px;
    padding: 0;
}

.section-badge-icon {
    z-index: 2;
    filter: drop-shadow(0 4.53px 7px #6153ee4f);
    width: auto;
    height: auto;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-white {
    color: white;
}

.section-header-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
}

.section-header-wrap.center {
    display: block;
}

.section-header-content {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 701px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.number-text-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.container-large {
    z-index: 1;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.container-large.pricing-01-container {
    max-width: 1240px;
}

.pricing-01 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("https://cdn.prod.website-files.com/6828ea881872740b3f4a766c/682cd44f3a882ae331b4c263_Pricing%2001%20Bg.avif");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.pricing-01-main-wrap {
    margin-top: 80px;
    justify-content: space-between;
    display: flex;
}

.pricing-01-left {
    width: 448px;
    max-width: 100%;
}

.pricing-01-card {
    border-radius: 12px;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    background-color: #250a6305;
    width: 100%;
    padding: 6px;
    overflow: hidden;
}

.pricing-01-card-content {
    z-index: 1;
    border-radius: 12px;
    background-color: white;
    width: 100%;
    padding: 24px 24px 32px;
    position: relative;
    overflow: hidden;
}

.pricing-01-card-top-wrap {
    background-image: linear-gradient(#ebf6ff00, #ebf6ff);
    border: 1px solid #edf7ff;
    border-radius: 24px;
    padding: 24px;
}

.pricing-01-card-icon {
    filter: drop-shadow(0 6.86px 10.43px #6153ee1a);
}

.pricing-01-card-text-wrap {
    margin-top: 24px;
}

.pricing-01-price-wrap {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 24px;
    display: flex;
}

.pricing-01-card-bottom-wrap {
    margin-top: 40px;
}

.pricing-01-features-wrap {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    display: flex;
}

.pricing-01-features-list {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.pricing-01-button-wrap {
    margin-top: 40px;
}

.pricing-01-right {
    width: 672px;
    max-width: 100%;
    height: 740px;
    position: relative;
    overflow: hidden;
}

.pricing-01-review-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    display: flex;
}

.pricing-01-review-list-wrap {
    flex: 1;
}

.pricing-01-review-card {
    border-radius: 12px;
    background-color: white;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 4px solid #7a87ff2e;
    margin-bottom: 16px;
    padding: 32px;
    box-shadow:
        inset 0 12px 12px #fff6,
        inset 0 -12px 12px #fff6;
}

.pricing-01-review-author-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    display: flex;
}

.pricing-01-review-author-image {
    flex: none;
    width: 48px;
    height: 48px;
}

.pricing-01-review-shadow {
    background-image: linear-gradient(#ecf2fe 5%, #fff0 10% 90%, #efeaff 95%);
    width: 110%;
    height: 110%;
    position: absolute;
    inset: -5% 0% 0% -5%;
}

.secondary-button {
    background-image: linear-gradient(rgb(136, 124, 248), rgb(89, 75, 236));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 18px 35px;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
}

.secondary-button-bg {
    background-color: #250a63;
    border-radius: 100px;
    position: absolute;
    inset: 0%;
}

.secondary-button-text-wrap {
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 991px) {
    h4 {
        margin-bottom: 16px;
    }

    .paragraph-text-02.pricing-01-subtitle {
        margin-top: 12px;
    }

    .section-badge-icon-box {
        padding: 6px;
    }

    .pricing-01-main-wrap {
        grid-column-gap: 52px;
        grid-row-gap: 52px;
        flex-flow: column;
    }

    .pricing-01-left {
        width: 100%;
    }

    .pricing-01-card-content {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        padding-bottom: 24px;
        display: flex;
    }

    .pricing-01-card-top-wrap {
        border-radius: 20px;
        width: 50%;
    }

    .pricing-01-card-bottom-wrap {
        width: 50%;
    }

    .pricing-01-features-wrap {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .pricing-01-button-wrap {
        margin-top: 32px;
    }

    .pricing-01-right {
        width: 100%;
        height: 500px;
    }

    .pricing-01-review-author-wrap {
        margin-top: 28px;
    }

    .pricing-01-review-shadow {
        background-image: linear-gradient(
            #eef0ff 5%,
            #fff0 10% 90%,
            #efeaff 95%
        );
    }

    .secondary-button {
        padding: 16px 28px;
    }
}

@media screen and (max-width: 767px) {
    h4 {
        margin-top: 32px;
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 30px;
    }

    .h2 {
        font-size: 48px;
        line-height: 56px;
    }

    .paragraph-text-02.pricing-01-subtitle {
        margin-top: 10px;
    }

    .h4 {
        font-size: 22px;
        line-height: 30px;
    }

    .section-badge-wrap {
        padding: 3px 10px 3px 3px;
    }

    .section-badge-icon-wrap {
        width: 40px;
    }

    .section-badge-icon-box {
        padding: 5px;
    }

    .section-badge-icon {
        width: 15px;
    }

    .pricing-01-main-wrap {
        grid-column-gap: 48px;
        grid-row-gap: 48px;
    }

    .pricing-01-card {
        padding: 4px;
    }

    .pricing-01-card-content {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        flex-flow: column;
    }

    .pricing-01-card-top-wrap {
        border-radius: 16px;
        width: 100%;
        padding: 20px;
    }

    .pricing-01-card-icon {
        width: 48px;
    }

    .pricing-01-card-text-wrap,
    .pricing-01-price-wrap {
        margin-top: 20px;
    }

    .pricing-01-card-bottom-wrap {
        width: 100%;
        margin-top: 28px;
    }

    .pricing-01-features-wrap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .pricing-01-button-wrap {
        margin-top: 28px;
    }

    .pricing-01-right {
        height: 450px;
    }

    .pricing-01-review-wrap {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .pricing-01-review-card {
        margin-bottom: 12px;
        padding: 24px;
    }

    .pricing-01-review-author-wrap {
        margin-top: 24px;
    }

    .pricing-01-review-author-image {
        width: 40px;
        height: 40px;
    }

    .pricing-01-review-shadow {
        background-image: linear-gradient(
            #eeedff 5%,
            #fff0 10% 90%,
            #efeaff 95%
        );
    }

    .secondary-button {
        padding: 14px 24px;
    }
}

@media screen and (max-width: 479px) {
    h4 {
        margin-top: 28px;
        margin-bottom: 12px;
        font-size: 20px;
        line-height: 28px;
    }

    .subtitle.badge-title {
        font-size: 14px;
        line-height: 22px;
    }

    .h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .paragraph-text-02.pricing-01-subtitle {
        margin-top: 8px;
    }

    .h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .section-badge-wrap {
        padding-right: 10px;
    }

    .section-badge-outline {
        width: 100%;
        inset: 0%;
    }

    .section-badge-icon-wrap {
        width: auto;
    }

    .section-badge-icon-box {
        padding: 4px;
    }

    .section-badge-icon {
        width: auto;
    }

    .section-header-wrap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .number-text-wrap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin-top: 16px;
    }

    .container-large {
        padding-left: 16px;
        padding-right: 16px;
    }

    .pricing-01-main-wrap {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .pricing-01-card {
        padding: 3px;
    }

    .pricing-01-card-content,
    .pricing-01-card-top-wrap {
        padding: 16px;
    }

    .pricing-01-card-icon {
        width: 40px;
    }

    .pricing-01-card-text-wrap,
    .pricing-01-price-wrap {
        margin-top: 16px;
    }

    .pricing-01-card-bottom-wrap {
        margin-top: 24px;
    }

    .pricing-01-features-wrap {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .pricing-01-button-wrap {
        margin-top: 24px;
    }

    .pricing-01-review-list-wrap.list-02 {
        display: none;
    }

    .pricing-01-review-card {
        border-width: 2px;
        padding: 20px;
    }

    .pricing-01-review-shadow {
        background-image: linear-gradient(
            #eeedff 5%,
            #fff0 10% 90%,
            #efeaff 95%
        );
    }

    .secondary-button {
        padding: 12px 22px;
    }
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Epilogue;
    src: url("chrome-extension://jlkikimlceonbmfjieipbonnglnlchhl/fonts/Epilogue-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
